@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8f3fe;
}
.vector-graphics {
  /* filter: drop-shadow(0 40px 10px rgba(0, 0, 0, 0.3)); */
  animation: vectorAnimation 800ms infinite ease-in-out alternate;
}
@keyframes vectorAnimation {
  to {
    transform: translateY(10px);
  }
}
