@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8f3fe;
}
.vector-graphics {
  /* filter: drop-shadow(0 40px 10px rgba(0, 0, 0, 0.3)); */
  animation: vectorAnimation 800ms infinite ease-in-out alternate;
}
@keyframes vectorAnimation {
  to {
    transform: translateY(10px);
  }
}
/* accordian */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css);
@import url(https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css);

/* body {
  background-color: #e0e3e8;
  font-family: "Rubik", sans-serif;
} */

a,
a:hover,
a:focus {
  text-decoration: none;
  transition: 0.5s;
  outline: none;
}

/* ------------ */
.text-primary {
  color: #5a8dee !important;
}
.accordion_card {
  /* box-shadow: 0px 5px 10px rgba(90, 116, 148, 0.3); */
  background-color: #f8f3fe;
  /* border-radius: 8px; */
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.3px;
  /* color: #475f7b; */
  overflow: hidden;
}
.rc-accordion-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  /* justify-content: space-between; */
  /* background-color: #ebedf0; */
  background-color: #f8f3fe;
  transition: 0.3s;
}
.rc-accordion-toggle.active {
  background-color: #5a8dee;
}
.rc-accordion-toggle.active .rc-accordion-icon {
  transform: rotate(180deg);
  color: #fff;
}
.rc-accordion-card {
  border: 1px solid #ddd;
  /* border-radius: 5px; */
  margin-bottom: 10px;
  overflow: hidden;
}
.rc-accordion-card:last-child {
  margin-bottom: 0;
}
.rc-accordion-title {
  font-weight: bold;

  font-size: 17px;
  position: relative;
  margin-bottom: 0;
  /* color: #475f7b; */
  transition: 0.3s;
}
.rc-accordion-toggle.active .rc-accordion-title {
  color: #fff;
}
.rc-accordion-icon {
  /* position: relative; */
  /* top: 2px; */
  font-weight: bold;
  /* color: #475f7b; */

  transition: 0.35s;
  font-size: 16px;
}
.rc-accordion-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 15px;
}

.rc-collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}
.rc-collapse.show {
  height: auto;
}
/* accordian */
